{% extends 'base.html' %}
{% block content %}
<!-- Page content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                                   src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."/></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">메인 페이지</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it,
                but it
                makes a great use of the standard Bootstrap core components. Feel free to use this template for any
                project you want!</p>
            <a class="btn btn-primary" href="#">Call to Action!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some
            important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-6 mb-5">
            <a href="/product/" class="text-decoration-none">
                <div class="card h-auto">
                    <img class="card-img-top" src="https://dummyimage.com/500x300/ccc/000.jpg"
                         alt="Product Introduction">
                    <div class="card-body">
                        <h3 class="card-title text-center">신제품</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 mb-5">
            <a href="/product/" class="text-decoration-none">
                <div class="card h-auto">
                    <img class="card-img-top" src="https://dummyimage.com/500x300/ccc/000.jpg"
                         alt="Product Introduction">
                    <div class="card-body">
                        <h3 class="card-title text-center">신제품</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock %}
