<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>메인 페이지</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">ChocoTech</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">홈</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/company/">소개</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/product/">제품</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/service/">고객지원</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/community/">커뮤니티</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn" id="sidebarToggle" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="/">홈</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login/">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signup/">회원가입</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                                           src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."/></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">메인 페이지</h1>
                    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to
                        it, but it makes a great use of the standard Bootstrap core components. Feel free to use this
                        template for any project you want!</p>
                    <a class="btn btn-primary" href="#">Call to Action!</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase
                    some important information or display a clever tagline!</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-6 mb-1">
                    <a href="/product/" class="text-decoration-none">
                        <div class="card h-auto">
                            <img class="card-img-top" src="https://dummyimage.com/500x300/ccc/000.jpg"
                                 alt="Product Introduction">
                            <div class="card-body">
                                <h3 class="card-title text-center">신제품</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 mb-1">
                    <a href="/product/" class="text-decoration-none">
                        <div class="card h-auto">
                            <img class="card-img-top" src="https://dummyimage.com/500x300/ccc/000.jpg"
                                 alt="Product Introduction">
                            <div class="card-body">
                                <h3 class="card-title text-center">신제품</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', event => {

        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector('#sidebarToggle');
        if (sidebarToggle) {
            // Uncomment Below to persist sidebar toggle between refreshes
            // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
            //     document.body.classList.toggle('sb-sidenav-toggled');
            // }
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
            });
        }

    });
</script>
</body>
</html>
