{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container-fluid">
    <h1 class="mt-5 mb-5">고객지원</h1>
    <div class="row gx-4 gx-lg-5 justify-content-around">
        <!-- Download Card -->
        <div class="col-md-3 mb-5">
            <a href="/support/download/" class="text-decoration-none">
                <div class="card h-100 text-center shadow">
                    <img class="card-img-top" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="다운로드 이미지">
                    <div class="card-body">
                        <h2 class="card-title">다운로드</h2>
                        <p class="card-text">제품 사용 설명서 및 소프트웨어 다운로드</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- A/S Application Card -->
        <div class="col-md-3 mb-5">
            <a href="/support/as-application/" class="text-decoration-none">
                <div class="card h-100 text-center shadow">
                    <img class="card-img-top" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg"
                         alt="A/S 신청 이미지">
                    <div class="card-body">
                        <h2 class="card-title">A/S 신청</h2>
                        <p class="card-text">제품 수리 및 서비스 신청</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Quality Assurance Card -->
        <div class="col-md-3 mb-5">
            <a href="/support/warranty/" class="text-decoration-none">
                <div class="card h-100 text-center shadow">
                    <img class="card-img-top" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="품질보증 이미지">
                    <div class="card-body">
                        <h2 class="card-title">품질보증 정보</h2>
                        <p class="card-text">제품 품질보증 정책 및 조건</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}