{% extends 'base.html' %}
{% block content %}
<!-- Page content-->
{% if content_list %}
<div class="container px-4 px-lg-5">

    <!-- Heading Row-->
    {% for content in content_list %}
    <div class="row gx-4 gx-lg-5 align-items-center my-3">
        <hr/>
        <div class="col-lg-5 text-center">
            <img class="img-thumbnail rounded mb-4 mb-lg-0"
                 src="{{ content.image_url|default:'https://dummyimage.com/300x300/dee2e6/6c757d.jpg' }}"
                 alt="{{ content.title }}"/>
        </div>
        <div class="col-lg-7">
            <h1 class="font-weight-light">{{content.title}}</h1>
            <p>{{content.content|truncatewords:30}}</p>
            <a class="btn btn-primary" href="{% url 'detail' content.id %}">상품 상세보기</a>
        </div>
    </div>
    {% endfor %}

    <!-- Call to Action-->
    <!-- Content Row-->
</div>
{% else %}
<p>content가 없습니다.</p>
{% endif %}
{% endblock %}
