<!-- Footer-->
<footer class="py-5 bg-dark mt-auto">
    <div class="container px-4 px-lg-5">
        <!-- 회사 정보 -->
        <div class="m-0 text-center text-white">
            <h5>ChocoTech</h5>
            <p>&copy; 2025 ChocoTech. All Rights Reserved.</p>
            <!-- 소셜 미디어 링크 -->
            <div>
                <h5>Follow Us</h5>
                <a href="#" class="text-decoration-none me-2">Facebook</a>
                <a href="#" class="text-decoration-none me-2">Twitter</a>
                <a href="#" class="text-decoration-none">Instagram</a>
            </div>
        </div>

    </div>
</footer>